{#% form_theme form theme %#}
<h1>Edit your profile</h1>
<form id="fos_user_profile_edit" action="{{ path('sonata_user_profile_edit_authentication') }}" {{ form_enctype(form) }} method="POST" class="half-width left fl">
    <fieldset>
        <legend>Profile details</legend>
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        
    </fieldset>
</form>
<div class="fl half-width">
    <h2>Change your password</h2>
    <p>Want to change your password, do you? Do it right here&hellip;</p>
    <a href="{{ path('fos_user_change_password')}}">Change your password.</a>
</div>
