<h1>Your profile</h1>
<div class="fos_user_user_show">
    <dl>
        <dt>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</dt><dd>{{ user.username }}</dd>
        <dt>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</dt><dd>{{ user.email }}</dd>
        <dt>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</dt><dd>{{ user.firstname ? user.firstname : "Not filled in" }}</dd>
        <dt>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</dt><dd>{{ user.lastname ? user.lastname : "Not filled in" }}</dd>
        <dt>{{ 'profile.show.dateofbirth'|trans({}, 'FOSUserBundle') }}</dt><dd>{{ user.dateofbirth|date("d/m/Y") }}</dd>
    </dl>
</div>
