<ul id="loginPanel">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><span class="button" id="logged-in-user">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
            <ul>
                <li>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        {{ 'layout.edit_profile'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li><a class="button" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        <li><a class="button orange" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
    {% endif %}
     
</ul>