<!DOCTYPE html>
{% spaceless %}
<html class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
        
        <title>noodleDig &ndash; {% block title %}Home{% endblock %}</title>
        {#<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />#}
     
        {# use the stylesheets tag for when assetic is working, meaning that files can be minified
        for production environment. Use the '?' inside the filter to run the app in debug mode #}
        {% stylesheets output='bundles/SkNd/css/compiled/main.css' filter='?yui_css' 
        'bundles/SkNd/css/original/reset.css'
        'bundles/SkNd/css/original/typography.css'
        'bundles/SkNd/css/original/base.css'  
        'bundles/SkNd/css/original/wide.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />    
        {% endstylesheets %}
                             
        <script src="{{ asset('bundles/SkNd/js/original/modernizr.js') }}" type="text/javascript"></script>    
        <script type="text/javascript">Modernizr.load([{test: Modernizr.mq('only screen and (min-width: 600px)'),nope: ['/SkNd/web/bundles/SkNd/js/original/respond.min.js']}]);</script>
    </head>
    <body>
        <div id="sm-sharing">
            <ul>
                <li><a id="facebookShare" title="Share this page on Facebook" href="http://www.facebook.com/share.php?u=http%3A%2F%2Fwww.noodledig.com&amp;t=noodleDig+website" target="_blank"><span>Share on Facebook</span></a></li>
                <li><a id="twitterShare" title="Share this page on Twitter" href="https://twitter.com/share" target="_blank"><span>Share on Twitter</span></a></li>
                <li><a id="pinterestShare" title="Pin this page with Pinterest" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());"><span>Share on Pinterest</span></a></li>
                <li><a id="emailShare" title="Email this page to a friend" href="mailto:?subject=Check out noodleDig&amp;body=Check out this cool site called www.noodleDig.com. It helps you to re-discover things from the past. It's ace!"><span>Share with email</span></a></li>
            </ul>
        </div>
        <div id="wrapper" class="">
            <div id="header">
                {# the 'path' function can be used to target any particular route defined in the routing config file #}
                <a id="siteLogo" class="hide" href="{{path('index')}}" title="Go back to noodleDig home page">
                    <img src="{{ asset('bundles/SkNd/images/site-logo-v2.png') }}" alt="noodleDig" />
                </a>
                {% block topNavLinks %}
                {% include 'SkNdUserBundle:Default:loginPanel.html.twig' %}
                <ul id="memoryWalls">
                    <li><a class="button" href="{{path('memoryWallsIndex')}}">{{'memoryWall.links.public_index'|trans({}, 'SkNdUserBundle' )}}</a>
                        <ul>
                            <li><a href="{{path('memoryWallsPersonalIndex') }}">{{'memoryWall.links.personal_index'|trans({}, 'SkNdUserBundle' )}}</a></li>
                            <li><a href="{{path('memoryWallCreate')}}">{{'memoryWall.links.add_wall'|trans({}, 'SkNdUserBundle' )}}</a></li>
                        </ul>
                    </li>
                    
                </ul>

                {% endblock %}
            </div>
            {% if app.session.getFlashes() %}    
            <div class="flashMessages fr">
                
                <ul>
                {% for key, message in app.session.getFlashes() %}
                <li class="{{ key }}">{{ message|trans({}, 'FOSUserBundle')|trans({}, 'SkNdUserBundle')|raw|trans({}, 'SkNdMediaBundle')|raw }}</li>
                {% endfor %}   
                </ul>
            </div>
            {% endif %}
            <div id="content" class="cf">
            {% block content %}

            {% endblock %}
            </div>
            <div id="footer" class="cf">
                <ul>
                <li class="third-width left">
                    <h3>Sign up today!</h3>
                    <p>By registering, you can instantly save anything to your Memory Walls, connect with other noodleDiggers, and get better recommendations when searching.</p>
                    <a href="{{ path('fos_user_registration_register') }}" class="button">Sign up</a>
                </li>
                <li class="third-width centre">
                    <h3>Contact us</h3>
                    <p>It couldn&rsquo;t be easier! Just click the link below and we&rsquo;ll get back to you asap.</p>
                    <ul class="bullet-list">
                        <li><a href="mailto:support@noodleDig.com">Contact us</a></li>
                        <li><a href="mailto:feedback@noodleDig.com">Give us some feedback</a></li>
                        <li><a href="mailto:complaints@noodleDig.com">Report nasty content</a></li>
                    </ul>
                </li>    
                <li class="third-width right">
                    <h3>Join us</h3>
                    <ul>
                        <li>
                            <img src="{{ asset('bundles/SkNd/images/fb-icon.jpg') }}" alt="facebook logo" />
                            <p>Follow us on Facebook at <a href="#">www.facebook.com/noodledig</a>.</p>
                        </li>
                        <li>
                            <img src="{{ asset('bundles/SkNd/images/t-icon.jpg') }}" alt="twitter logo" />
                            <p>&hellip;and keep up&ndash;to&ndash;date with the latest news on Twitter at <a href="#">@noodleDig</a></p>
                        </li>
                    </ul>
                </li>    
                </ul>
    

            </div>
        </div>
        {% block javascripts %} 
            <script src="{{ asset('bundles/SkNd/js/original/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/SkNd/js/original/nd-scripts.js') }}" type="text/javascript"></script>
        {% endblock %}
        {#% javascripts 
            'bundles/SkNd/js/original/jquery-1.8.3.min.js'
            'bundles/SkNd/js/original/nd-scripts.js'
            filter='?yui_js'
            output='bundles/SkNd/js/compiled/nd-scripts.js'
        %} 
            <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %#}
            
           
    </body>
</html>
{% endspaceless %}