<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MyDay - {% block title %}Home{% endblock %}</title>
        {#<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />#}
        {% block stylesheets %}
        <link href="{{asset('bundles/ThinkBack/css/reset.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{asset('bundles/ThinkBack/css/main.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{asset('bundles/ThinkBack/css/typography.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        
    </head>
    <body>
        <div id="header">
            {{ mediaType }}
            {# the 'path' function can be used to target any particular route defined in the routing config file #}
            <a href="{{path('index')}}" title="Go back to MyDay home page">MyDay</a>
            <a href="{{path('setMedia', {'mediaType' : 'film'})}}" title="Go to MyDay Films">Films</a>
            <a href="{{path('setMedia', {'mediaType' : 'tv'})}}" title="Go to MyDay TV">TV</a>
            {% render "ThinkBackMediaBundle:Media:mediaSearch" %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/ThinkBack/scripts/jquery-1.7.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/ThinkBack/scripts/tb-scripts.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>


