{% macro m_mediaResource(mr) %}
{% set item = mr.mediaResourceCache.xmlData %}
<li class="cf">
    <a title="see more details for {{item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'id':item.ASIN, 'api':mr.api.name, 'title':mr.urlize(item.ItemAttributes.Title) })}}" class="fl">
        <img src="{{item.MediumImage is defined ? item.MediumImage.URL : asset('bundles/SkNd/images/image-placeholder.jpg') }}" alt="{{item.ItemAttributes.Title}}" />
    </a>
    <div>
        <a href="{{path('mediaDetails', {'id':item.ASIN, 'api':mr.api.name, 'title':mr.urlize(item.ItemAttributes.Title) })}}">
            <strong>{{item.ItemAttributes.Title}}</strong>
        </a>
        <ul class="actions">
            <li><a class="button" title="see more details for {{item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'id':item.ASIN, 'api':mr.api.name, 'title':mr.urlize(item.ItemAttributes.Title) })}}"><span class="sprites explore-icon">Explore</span></a></li>
            <li><a class="orange button" title="buy this from Amazon" target="_blank" href="{{item.DetailPageURL}}"><span class="sprites buy-icon">Buy</span></a></li>
        </ul>
    </div>
</li>
{% endmacro %}

{% macro m_mediaResourceDetails(mr) %}
<ul>
    <li>Viewcount: {{mr.viewCount}}</li>
    <li>Selected Count: {{mr.selectedCount}}</li>
    <li>Date updated: {{mr.lastUpdated|date('d/m/y')}}</li>
</ul>

{% endmacro %}
    

{% if mediaResource is defined %}
{% set item = mediaResource.mediaResourceCache.xmlData %}

{#% debug item %#}
<div class="two-thirds-width fl left">
    <div id="itemOverview">
        <img src="{{item.MediumImage.URL}}" alt="{{item.ItemAttributes.Title}}" />
        {#% if item.EditorialReviews is defined %}
        <p>{{ item.EditorialReviews.EditorialReview.Content }}</p>
        {% endif %#}
        <ul class="actions fl two-thirds-width">
            {% include "SkNdUserBundle:MemoryWall:addToMemoryWallListPartial.html.twig" 
                with {
                'api'       : mediaResource.api.name,
                'itemId'    : item.ASIN,
                'itemTitle' : item.ItemAttributes.Title,
                'titleSlug' : mediaResource.urlize(item.ItemAttributes.Title),
                'linkType'  : 'button',
                } 
            %}

            <li class="buy-it">
                <a class="orange button" target="_blank" href="{{item.DetailPageURL}}">
                    <span class="sprites buy-icon">Buy this from Amazon {% if item.OfferSummary.LowestUsedPrice is defined %}for {{ item.OfferSummary.LowestUsedPrice.FormattedPrice }}{% elseif item.OfferSummary.LowestNewPrice is defined %}for {{ item.OfferSummary.LowestNewPrice.FormattedPrice }}{% endif %}
                    </span>
                </a>
                    <span><a href="#pricesDisclaimer" class="fl" title="Amazon Prices Disclaimer message"><strong>*</strong></a></span>
            </li>
        </ul>

        {% if item.SimilarProducts is defined %}
        <div id="similarItems" class="full-width fl">
            <h2>Similar Items</h2>
            <p>Here&rsquo;s some stuff that Amazon says is similar to this item.</p>
            <ul class="bullet-list">
            {% for similarItem in item.SimilarProducts.SimilarProduct %}
                <li>
                    <a title="see more details for {{similarItem.Title}}" href="{{path('mediaDetails', {'id':similarItem.ASIN , 'api': mediaResource.api.name, 'title':mediaResource.urlize(similarItem.Title) })}}">{{similarItem.Title}}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
        
    <div id="youtubeVideos" class="full-width fl">
    <h2>YouTube videos</h2>
    {{ render(controller('SkNdMediaBundle:Media:youTubeRequest', {
            'title'     :   item.ItemAttributes.Title|url_encode, 
            'mrid'      :   mediaResource.id,  
            }))
    }}
    </div>

{#%<div id="googleImagesTopresults">
<h2>Top Images</h2>

    render "SkNdMediaBundle:Media:flickrRequest" with {
        'title'     :   item.ItemAttributes.Title|url_encode, 
        'media'     :   media,
        'decade'    :   decade,
        'genre'     :   genre,
    }

</div>        %#}
</div>        
        
<div id="recommendations" class="third-width fr right">
    {% set recommendations = mediaResource.relatedMediaResources %}
    {% if recommendations is null %}   
        <h2>Recommended</h2>
        <p class="strapline">Hmmm&hellip;there don&rsquo;t seem to be any recommendations for this item, sorry!</p>
    {% else %}   
        
        {% if recommendations.exactMatches is not empty %}
        <div id="exact-recommendations">
            <h2>Recommended</h2>
            <p class="strapline">Here&rsquo;s some related stuff.</p>
            <ul>
            {% for mr in recommendations.exactMatches %}
                 {{ _self.m_mediaResource(mr) }}
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if recommendations.genericMatches is not empty %}
        <div id="generic-recommendations" class="clear">
            <h2>You might also like</h2>
            <p class="strapline">Here&rsquo;s some other stuff from the same decade.</p>
            <ul>
            {% for mr in recommendations.genericMatches %}
                {{ _self.m_mediaResource(mr) }}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endif %}
</div>


<div class="fl cf full-width note">
    <p id="pricesDisclaimer">*Price on Amazon.co.uk: GBP (as of {{ 'now'|date("d/m/Y g:ia", "Europe/London") }}). Product prices and availability are accurate as of the date/time indicated and are subject to change. Any price and availability information displayed on Amazon.co.uk at the time of purchase will apply to the purchase of this product.</p>
    <p><strong>&hellip;however, the prices on Amazon are often much cheaper. Please check out the price by clicking on the buy button.</strong></p>
</div>


{% endif %}


