{% if mainResponse is defined %}
<div class="pagingControls">
{% include "SkNdMediaBundle:Media:pagerPartial.html.twig" 
with 
{
'currentPage':mainResponse.Request.ItemSearchRequest.ItemPage,
'pagerParams':pagerParams
} 
%}
</div>    

<ul>
{% for item in mainResponse.Item %}
<li class="listing">
    <dl>
        <dt><a title="see more details for {{item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'media':media, 'decade':decade, 'genre':genre, 'id':item.ASIN })}}">{{item.ItemAttributes.Title}}</a></dt>
        <dd>
            <img src="{{item.MediumImage is defined ? item.MediumImage.URL : asset('bundles/SkNd/images/image-placeholder.jpg') }}" alt="{{item.ItemAttributes.Title}}" />
            <ul>
                <li><a target="_blank" href="{{item.DetailPageURL}}">Buy from Amazon {% if item.ItemAttributes.ListPrice is defined %}for {{ item.ItemAttributes.ListPrice.FormattedPrice }}{% endif %}</a></li>
                {% include "SkNdUserBundle:MemoryWall:addToMemoryWallListPartial.html.twig" 
                with {
                'api'       : api,
                'itemId'    : item.ASIN,
                'itemTitle' : item.ItemAttributes.Title
                } 
                %}
            </ul>
        </dd>
    </dl>
</li>
{% endfor %}
</ul>
{#disclaimer for all film results including tv#}
{% if genre == 'all-genres' %}
<p class="note">Please note that the &lsquo;all&rsquo; Films genre also includes TV listings</p>

{% endif %}

{% else %}
<h2>Sorry&hellip;</h2>
<p>{{exception is defined ? exception : 'No results were found'}}</p>
{% endif %}