<form action="{{ path('mediaSearch') }}" method="post" {{ form_enctype(form) }}>
    <div class="errors">
        {{ form_errors(form) }}
    </div>
    <div id="search-form">
        {{ form_label(form.searchKeywords, 'Enter search keywords', { 'attr': {'class': 'search-form-label'} }) }}
        {{ form_widget(form.searchKeywords) }}
        {{ form_rest(form) }}
        <input type="submit" value="Explore" />
    </div>


    

    
</form>


