{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% 
set mediaDetailsTitle = mediaResource is defined and mediaResource.mediaResourceCache is defined ? mediaResource.mediaResourceCache.title : "Details"
%}

{% block metadescription %}{{mediaDetailsTitle}}{% endblock %}
{% block metakeywords %}{{mediaDetailsTitle}}{% endblock %}
{% block title %}{{mediaDetailsTitle}}{% endblock %}

{% block content %}
    <h1>{{mediaDetailsTitle}}</h1>
    {% if 'search' in referrer %}
    <a class="go-back" href="{{referrer}}">go back to the previous page</a>
    {% endif %}
    {% if media != 'music' %}
        {% include 'SkNdMediaBundle:Media:filmTVDetailsPartial.html.twig' %}

    {#with
        {
            'media'         : media,
            'decade'        : decade,
            'genre'         : genre,
            mainResponse is defined ? 'mainResponse' : mainResponse
        }#}

    {% endif %}

{% endblock %}
