<form action="{{ path('mediaSelection') }}" method="post" {{ form_enctype(form) }}>

    <div class="errors">
        {{ form_errors(form) }}
    </div>
    
    <div id="mediaSelectionMediaTypes">
        {{ form_row(form.mediaType) }}
    </div>
    <div id="mediaSelectionDecades">
        {{ form_row(form.decade) }}
    </div>
    <div id="mediaSelectionGenres">
        {{ form_row(form.selectedMediaGenre) }}
    </div>
    <div id="mediaSelectionKeywords">
        {{ form_row(form.keywords) }}
            <span class="note">(leave blank to search without keywords)</span>
    </div>

    {{ form_rest(form) }}
    
<input type="submit" value="Search noodleDig" />
    
</form>


