{% extends 'SkNdMediaBundle::layout.html.twig' %}
{% block metadescription %} Search results for {{media}} ({{ decade }}, {{ genre }}){% endblock %}
{% block metakeywords %}{{media}},{{ decade }},{{ genre }}{% endblock %}
{% block title %}Search results for {{media}} ({{ decade }}, {{ genre }}){% endblock %}

{% block content %}
<h1>
    Results for {{media == 'tv' ? media|upper : media|capitalize}} ({{ decade|capitalize }}, {{ genre|replace({'-':' '})|capitalize }})
    {% if keywords is defined %}
    and {{keywords}}
    {% endif %}
</h1>
{% if listings is defined %}

{% if recommendations is not null %}
<div id="recommendations" class="third-width fr">
    <h2>Recommendations</h2>
    <p>We&rsquo;ve found some Memory Walls that are associated with the decade you chose. Here they are&hellip;</p>
    {% include 'SkNdUserBundle:MemoryWall:memoryWallGalleryPartial.html.twig' with {
        'mws' : recommendations,
        'pageTitle': 'All Public'
        }
    %}
</div>
{% endif %}

<div id="searchResults" class="{% if recommendations is not null %}two-thirds-width{% else %}full-width{% endif %} fl">
    
    {% if media == 'music' %}
        {% include 'SkNdMediaBundle:Media:musicListingsPartial.html.twig'%}
    {% else %}
        {% 
            include 'SkNdMediaBundle:Media:filmTVListingsPartial.html.twig'
            
        %}
    {% endif %}
    
    {#{
                'decade'        : decade,
                'media'         : media,            
                'genre'         : genre,
                'keywords'      : is defined(keywords)? keywords : ,
                'mainResponse'  : mainResponse,
                'pagerParams'   : pagerParams
            }#}
        
</div>


{% endif %}

{% endblock %}