{% if listings is defined %}
{% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" 
    with {
        'firstVideo' : listings.xmlData.entry,
    } 
%}
    {%if listings.xmlData.url is defined %}<strong>{{ listings.xmlData.url }}</strong>{%endif%}
    <ul id="youTubeCarousel">
    {% for ytResult in listings.xmlData.entry %}
        <li>
            <a href="javascript:void(0)" onclick="play('{{ytResult.id}}','{{ytResult.title|escape('js')}}')" title="Click to play {{ ytResult.title }}">
                <img src="{{ ytResult.thumbnail }}" alt="{{ ytResult.title }}" /></a>
            <a href="javascript:void(0)" onclick="play('{{ytResult.id}}','{{ytResult.title|escape('js')}}')" title="Click to play {{ ytResult.title }}">
                {{ ytResult.title|title|slice(0,35) }}{% if ytResult.title|title|length > 35 %}&hellip;{%endif%}</a>
            <ul class="actions">
            {% include "SkNdUserBundle:MemoryWall:addToMemoryWallListPartial.html.twig" 
            with {
            'api'       : listings.api.name,
            'itemId'    : ytResult.id,
            'itemTitle' : ytResult.title,
            'linkType'  : 'button',
            'titleSlug' : listings.urlize(ytResult.title)
            } 
            %}    
            {#% debug(ytResult.title|escape) %#}
            </ul>

      </li>     
    {% endfor %}
    </ul>
        {#<h3>Videos not right?</h3>
        <p>Please enter a more relevant search for this item</p>
    {# add a form to allow users to put a more relevant search #}

{% else %}
    {% if app.session.flashbag.peek('notice') %}    
            <div class="flashMessages">
                <ul>
                {% for message in app.session.flashbag.get('notice') %}
                    <li class="notice">{{ message|trans({},'SkNdMediaBundle')|raw }}</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        
{% endif %}        