{% if youTubeResponse is defined %}
{% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" 
    with {
        'firstVideo' : youTubeResponse.entry,
    } 
%}
    {%if youTubeResponse.url is defined %}<strong>{{ youTubeResponse.url }}</strong>{%endif%}
    <ul>
    {% for ytResult in youTubeResponse.entry %}
                <li class="listing">
                <dl>
                <dt><a href="javascript:void(0)" onclick="play('{{ytResult.id}}')">{{ ytResult.title }}</a></dt>
                    <dd>    
                    <a href="javascript:void(0)" onclick="play('{{ytResult.id}}')"><img src="{{ ytResult.thumbnail }}" alt="{{ ytResult.title }}" /></a>
            {#used for debugging a variable#}
            {#%  debug ytResult %#}  
                    <ul>
                    {% include "SkNdUserBundle:MemoryWall:addToMemoryWallListPartial.html.twig" 
                    with {
                    'api'       : api,
                    'itemId'    : ytResult.id,
                    'itemTitle' : ytResult.title
                    } 
                    %}    
                    </ul>
                    </dd>
               </dl>
               </li>     
    {% endfor %}
        </ul>
        <h3>Videos not right?</h3>
        <p>Please enter a more relevant search for this item</p>
    {# add a form to allow users to put a more relevant search #}


{% else %} 
                <h3>Sorry&hellip;</h3>
                <p>{{youTubeException}}</p>

{% endif %}        