{% if response is defined %}
{% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" 
    with {
        'firstVideo' : response.entry,
    } 
%}
    {%if response.url is defined %}<strong>{{ response.url }}</strong>{%endif%}
    <ul id="youTubeCarousel">
    {% for ytResult in response.entry %}
                <li>
                    <a href="javascript:void(0)" onclick="play('{{ytResult.id}}','{{ytResult.title|escape('js')}}')" title="Click to play {{ ytResult.title }}"><img src="{{ ytResult.thumbnail }}" alt="{{ ytResult.title }}" /></a>
                    <a href="javascript:void(0)" onclick="play('{{ytResult.id}}','{{ytResult.title|escape('js')}}')" title="Click to play {{ ytResult.title }}">{{ ytResult.title|title|slice(0,35) }}{% if ytResult.title|title|length > 35 %}&hellip;{%endif%}</a>
                    <ul class="actions">
                    {% include "SkNdUserBundle:MemoryWall:addToMemoryWallListPartial.html.twig" 
                    with {
                    'api'       : api,
                    'itemId'    : ytResult.id,
                    'itemTitle' : ytResult.title,
                    'linkType'  : 'button',
                    } 
                    %}    
                    {#% debug(ytResult.title|escape) %#}
                    </ul>
                    
              </li>     
    {% endfor %}
        </ul>
        {#<h3>Videos not right?</h3>
        <p>Please enter a more relevant search for this item</p>
    {# add a form to allow users to put a more relevant search #}

{% else %}
        {% if app.session.getFlashes('yt-notice') %}    
        <div class="flashMessages">
            <ul>
            {% for key, message in app.session.getFlashes() %}
            <li class="{{ key }}">{{ message|trans({}, 'SkNdMediaBundle')|raw }}</li>
            {% endfor %}   
            </ul>
        </div>
        {% endif %}
        
{% endif %}        