<li>
    {% if linkType is defined and linkType == 'button' %}
        <a href="{{path('memoryWallAddMediaResource', {'api': api, 'id':itemId, 'title': titleSlug })}}" class="add-it button" title="Add this to a Memory wall"><span class="sprites add-icon">Add</span></a>
    {% else %}
        <a href="{{path('memoryWallAddMediaResource', {'api': api, 'id':itemId, 'title': titleSlug })}}" class="add-it sprites add-icon" title="Add this to a Memory wall">Add</a>
    {% endif %}
    {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul class="userMemoryWalls {% if linkType is defined and linkType == 'button' %}button{% endif %}">    
        <li class="note">Choose a wall&hellip;</li>
        {% for mw in app.user.memoryWalls %}
        <li>
            <a href="{{path('memoryWallAddMediaResource', {'mwid': mw.id, 'slug': mw.slug, 'api': api, 'id':itemId, 'title': titleSlug })}}" title="add &ldquo;{{itemTitle}}&rdquo; to your memory wall">&ldquo;{{ mw.name }}&rdquo;</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</li>
