{% extends 'SkNdUserBundle::memoryWallLayout.html.twig' %}
{% block title %}Delete a Memory Wall{% endblock %}

{% block content %}
<h1>Delete a Memory Wall</h1>
<p>Are you <span class="italic">really</span> sure you want to delete the Memory Wall called <strong>&ldquo;{{ mw.name }}&rdquo;</strong>? There&rsquo;s still time to turn back!</p>
<ul class="bullet-list fl">
    <li><a href="{{ path('memoryWallDeleteConfirm', {'slug':mw.slug}) }}" title="delete the Memory Wall">{{ 'memoryWall.delete.confirm'|trans({}, 'SkNdUserBundle')|raw }}</a></li> 
    <li><a href="{{ path('memoryWallsPersonalIndex') }}" title="Cancel deleting the Memory Wall">{{ 'memoryWall.delete.cancel'|trans({}, 'SkNdUserBundle')|raw }}</a></li> 
</ul>
{% endblock content %}
