{% extends 'SkNdUserBundle::memoryWallLayout.html.twig' %}
{% block title %}Delete an item from &ldquo;{{ mw.name }}&rdquo; {% endblock %}

{% block content %}
<h1>Delete an item from your Memory Wall</h1>
{#% set itemTitle = mr.mediaResourceCache is null ? 'this item' :  mr.mediaResourceCache.title %#}
{% if mr.mediaResourceCache is not null %}
<img class="mw-MediaResource" src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
{% endif %}
<p>Are you <span class="italic">really</span> sure you want to remove &ldquo;<strong>{{ mr.mediaResourceCache.title|default('this item') }}&rdquo;</strong> from your Memory Wall &ndash; <strong>{{ mw.name }}</strong>?</p>
<ul class="bullet-list fl">
    <li><a href="{{ path('memoryWallDeleteMediaResourceConfirm', {'mwid':mw.id, 'slug':mw.slug, 'id': mr.id, 'confirmed':'true' }) }}" title="remove the item">{{ 'mediaResource.delete.confirm'|trans({}, 'SkNdUserBundle')|raw }}</a></li> 
    <li><a href="{{ path('memoryWallShow', {'id': mw.id, 'slug' : mw.slug }) }}" title="Cancel removing the item">{{ 'mediaResource.delete.cancel'|trans({}, 'SkNdUserBundle')|raw }}</a></li> 
</ul>
{% endblock content %}
