<ul id="memoryWallGallery">
{% for mw in mws %}
    <li class="cf">
        <div>
        <strong><a href="{{ path('memoryWallShow', {'id': mw.id, 'slug': mw.slug }) }}">{{mw.name}}</a></strong>
        <span class="note"> ({{ mw.memoryWallMediaResources|length }} {{ mw.memoryWallMediaResources|length == 1 ? "item" : "items"}})</span>
        <p class="note">
        {% if pageTitle == 'All Public' %}
            by <strong><a title="See all of {{mw.user.username}}&rsquo;s Memory walls" href="{{path('memoryWallsIndex', {'scope' : mw.user.usernameCanonical}) }}">{{mw.user.username}}</a></strong>
        {% endif %}
            <span> created on <strong>{{mw.dateCreated|date("d/m/y")}}</strong></span>
        </p>
        <img class="mw-image" src="{{ asset('bundles/SkNd/images/mw-default.png') }}" alt="Memory wall image" />
        {% if mw.description is not null %}
           <p>{{mw.description|slice(0,100)}}{%if mw.description|length > 100 %}&hellip;{% endif %}</p>
        {% endif %}
            <p>Related to &ndash; <strong>{{mw.associatedDecade is not null ? mw.associatedDecade.slug : 'all decades'}}</strong></p>
            {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") and mw.user.username == app.user.username %}
            <ul class="actions cf">
                <li><a title="you can edit this wall!" class="button" href="{{ path('memoryWallEdit',{'id':mw.id, 'slug':mw.slug}) }}"><span class="sprites edit-icon">Edit</span></a></li>
                <li><a title="delete the wall (if you really want)" class="button" href="{{ path('memoryWallDelete', {'id':mw.id, 'slug':mw.slug}) }}"><span class="sprites close-icon">Delete</span></a></li>
            </ul>
            {% endif %}
        </div>
    </li>        
{% endfor %}
</ul>