{% macro mrLinkAndPic(mr, api) %}
{% if api.name == 'youtubeapi' %}
    <a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}')">
        <img src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
    </a>
    <strong><a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}')">{{ mr.mediaResourceCache.title }}</a></strong>
{% else %}
    <a href="{{path('mediaDetails', mr.detailsPageParams )}}" title="click to explore {{mr.mediaResourceCache.title}}">
        <img src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
    </a>
    <strong><a href="{{path('mediaDetails', mr.detailsPageParams )}}" title="click to explore {{mr.mediaResourceCache.title}}">{{mr.mediaResourceCache.title}}</a></strong>
{% endif %}
{% endmacro %}

<div class="two-thirds-width fl">
{% if mw.memoryWallMediaResources|length > 0 %}
{% for api in apis %}
    {% set mwmrs = mw.getMemoryWallMediaResources(api.id) %}
    {% if mwmrs|length > 0 %}
        <p class="strapline cf">Added from {{ api.friendlyName }}</p>
        {% for mwmr in mwmrs %}
        {% set mr = mwmr.mediaResource %}
        {% if api.name == 'youtubeapi' and loop.first %}
            {% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" 
                with {
                    'firstVideo' : mr.mediaResourceCache
                } 
            %}
        {% endif %}
        <div class="mw-MediaResource">
            {{ _self.mrLinkAndPic(mr, api) }}
            <p class="note">Added on {{ mwmr.dateAdded|date("F jS \\a\\t g:ia") }}</p>
            
            {% if wallBelongsToThisUser %}
            <ul class="actions">
                {#<li class="edit-it">Edit</li>#}
                <li class="delete-it"><a class="button" href="{{ path('memoryWallDeleteMediaResource', {'slug': mw.slug, 'id': mr.id }) }}" title="Remove {{ mr.mediaResourceCache.title }} from this wall"><span>Remove this item</span></a></li>
            </ul>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
{% endfor %}
{% else %}
<p>Sorry, there isn&rsquo;t anything on this wall yet.</p>
{% endif %}
</div>