{% macro shortenTitle(title) %}
{{ title|slice(0,85) }}{% if title|length > 85 %}&hellip;{%endif%}
{% endmacro %}

{% macro mrLinkAndPic(mr, api) %}
{% if api.name == 'youtubeapi' %}
    <a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}')">
        <img src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
    </a>
    <strong><a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}')">{{ _self.shortenTitle(mr.mediaResourceCache.title) }}</a></strong>
{% else %}
    <a href="{{path('mediaDetails', {'id':mr.id, 'api':mr.api.name, 'title':mr.mediaResourceCache.slug})}}" title="click to explore {{mr.mediaResourceCache.title}}">
        <img src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
    </a>
    <strong><a href="{{path('mediaDetails',{'id':mr.id, 'api':mr.api.name, 'title':mr.mediaResourceCache.slug} )}}" title="click to explore {{mr.mediaResourceCache.title}}">{{_self.shortenTitle(mr.mediaResourceCache.title)}}</a></strong>    
{% endif %}
       
{% endmacro %}

<div id="memoryWallContents" class="two-thirds-width fl left">
{% if mw.memoryWallMediaResources|length > 0 %}
{% for api in apis %}
    {% set mwmrs = mw.getMemoryWallMediaResources(api.id) %}
    {% if mwmrs|length > 0 %}
       <div id="{{api.name}}Items" class="cf">
            <p class="strapline cf">Added from {{ api.friendlyName }}</p>
            <ul>
            {% for mwmr in mwmrs %}
            {% set mr = mwmr.mediaResource %}
            {% if api.name == 'youtubeapi' and loop.first %}
            <li id="ytPlayer">
            
                {% include "SkNdMediaBundle:Media:youTubePlayerPartial.html.twig" 
                    with {
                        'firstVideo' : mr.mediaResourceCache
                    } 
                %}
            </li>
            {% endif %}
            
            <li class="mw-MediaResource">
                <p class="note">Added on {{ mwmr.dateAdded|date("d/m/y \\a\\t g:ia") }}</p>    
                {{ _self.mrLinkAndPic(mr, api) }}
                <ul class="actions fl full-width">
                    {% if api.name == 'amazonapi' and mr.mediaResourceCache.xmlData.DetailPageURL is defined %} 
                        <li class="buy-it"><a class="orange button" title="buy this from Amazon" target="_blank" href="{{mr.mediaResourceCache.xmlData.DetailPageURL}}"><span>Buy</span></a></li>    
                    {% endif %}
                    {% if wallBelongsToThisUser %}
                    {#<li class="edit-it">Edit</li>#}
                    <li class="delete-it"><a class="button" href="{{ path('memoryWallDeleteMediaResource', {'mwid':mw.id, 'slug': mw.slug, 'id': mr.id }) }}" title="Remove {{ mr.mediaResourceCache.title }} from this wall"><span>Remove</span></a></li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endfor %}
{% else %}
<p>Sorry, there isn&rsquo;t anything on this wall yet.</p>
{% endif %}
</div>