{% extends 'SkNdUserBundle::memoryWallLayout.html.twig' %}
{% block title %}Memory Wall &hellip; {{ mw.name }}{% endblock %}

{% block content %}
<h1><a href="{{ path('memoryWallEdit',{'slug':mw.slug}) }}" title="edit this wall">{{ mw.name }}</a></h1>
<h2>Memory Wall Details</h2>
<dl id="memoryWallDetails">
    <dt>Description</dt>
    <dd>{{mw.description is not null ? mw.description : 'No description available'}}</dd>
    <dt>Associated Decade</dt>
    <dd>{{mw.associatedDecade is not null ? mw.associatedDecade.decadeName : 'All decades'}}</dd>
    <dt>Date Created</dt>
    <dd>{{mw.dateCreated|date("d/m/y")}}</dd>
    {# if the wall is public and belongs to someone else, give a link to show all their memory walls #}
    {% if mw.isPublic and mw.user.username != app.user.username %}
    <dt>Created by</dt>
    <dd><span>{{mw.user.username}}</span><span> &ndash; (<a href="{{path('memoryWallsIndex', {'scope' : mw.user.usernameCanonical}) }}">view all of {{mw.user.username}}&rsquo;s Memory Walls)</a></span></dd>
    {% endif %}
</dl>        
{# if the memory wall being shown belongs to the current user, show further actions #}
{% if mw.user.username == app.user.username %}
<h2>Memory Wall Actions</h2>
<div id="memoryWallActions">
    <ul>
        <li><a href="{{ path('index') }}">Add some stuff</a> &ndash; Use noodleDig to find something and then just select &lsquo;add to my Memory Wall&rsquo; wherever you see it.</li>
        <li><a href="{{ path('memoryWallEdit',{'slug':mw.slug}) }}">Edit this wall</a> &ndash; Update the details of this wall, go on.</li>
        <li><a href="{{ path('memoryWallDelete', {'slug':mw.slug}) }}">Delete the wall</a> &ndash; If you really want to, you can delete it, but where&rsquo;s the fun in that?</li>
    </ul>
</div>
{% endif %}

{% endblock content %}
