{% extends 'SkNdUserBundle::memoryWallLayout.html.twig' %}

{% block metadescription %}
Explore {{mw.name}}, a memory wall on noodleDig made by {{mw.user.username}}. noodleDig allows you to find your favourite Films and TV programmes, explore them with Amazon and YouTube and then grab them. 
{% endblock %}

{% block metakeywords %}
Memory walls, memories, {{mw.associatedDecade is not null ? mw.associatedDecade.decadeName : ''}}
{% endblock %}
{% block title %}{{ mw.name }} &ndash; (a Memory wall on noodleDig){% endblock %}
{% block content %}
{% set wallBelongsToThisUser = app.user is not null and mw.user.username == app.user.username %}
<h1>{{ mw.name|capitalize }}</h1>
{% if returnUrl is not null %}
<a class="go-back" href="{{returnUrl}}">go back to the previous page</a>
{% endif %}
{% include "SkNdUserBundle:MemoryWall:memoryWallMediaResourcesPartial.html.twig" 
    with {
        'wallBelongsToThisUser' : wallBelongsToThisUser,
        'mw'    : mw,
        'apis'  : apis
    } 
%}

<div class="third-width fr right">
    <h3>Details</h3>
    <dl id="memoryWallDetails">
        <dt>Description</dt>
        <dd>{{mw.description is not null ? mw.description : 'No description available'}}</dd>
        <dt>Associated Decade</dt>
        <dd>{{mw.associatedDecade is not null ? mw.associatedDecade.decadeName : 'All decades'}}</dd>
        <dt>Date Created</dt>
        <dd>{{mw.dateCreated|date("d/m/y")}}</dd>
        {# if the wall is public and belongs to someone else, give a link to show all their memory walls #}
        {% if mw.isPublic and not wallBelongsToThisUser %}
        <dt>Created by</dt>
        <dd><a title="view all of {{mw.user.username}}&rsquo;s Memory Walls)" href="{{path('memoryWallsIndex', {'scope' : mw.user.usernameCanonical}) }}">{{mw.user.username}}</a></dd>
        {% endif %}
    </dl> 
    {# if the memory wall being shown belongs to the current user, show further actions #}
    {% if wallBelongsToThisUser %}
    <div id="memoryWallActions">
        <h3>Actions</h3>
        <ul class="actions">
            <li><a title="edit this wall" class="button" href="{{ path('memoryWallEdit',{'id':mw.id, 'slug':mw.slug}) }}"><span class="sprites edit-icon">Edit this wall</span></a> &ndash; Update the details of this wall, go nuts.</li>
            <li><a title="delete this wall" class="button" href="{{ path('memoryWallDelete', {'id': mw.id, 'slug':mw.slug}) }}"><span class="sprites close-icon">Delete this wall</span></a> &ndash; If you really want to, you can delete it, but where&rsquo;s the fun in that?</li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock content %}
