{% extends '::base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>Helping you find stuff you loved&hellip;</h1>
<div id="introPanel" class="cf">
    <ul>
        <li class="third-width left cf">
            <img src="{{ asset('bundles/SkNd/images/rediscoverIt.jpg') }}" alt="rediscover it with noodleDig" />
            <h2>Discover it</h2>
            <p>Find all those ace Films and TV episodes you thought you&rsquo;d forgotten.</p>
        </li>
        <li class="third-width centre cf">
            <img src="{{ asset('bundles/SkNd/images/grabIt.jpg') }}" alt="grab it with noodleDig" />
            <h2>Grab it</h2>
            <p>Once you&rsquo;ve found some cool stuff, stick it on your <a href="{{path('memoryWallsIndex')}}" title="whats a memory wall?">memory wall</a>.</p>
        </li>
        <li class="third-width right cf">
            <img src="{{ asset('bundles/SkNd/images/shareIt.jpg') }}" alt="share it with noodleDig" />
            <h2>Share it</h2>
            <p>With noodleDig, its easy to show your pals what you&rsquo;ve found.</p>
        </li>
    </ul>
</div>

{# media selection partial #}
<div id="contentSearches" class="fl cf">
    <ul>
        <li id="tab1" class="selected">
            <h2><a href="#">Find it now</a></h2>
            <div id="mediaSelection">
                <p>Just choose the options you want from below, and away you go.</p>
                {% render "SkNdMediaBundle:Media:mediaSelection" %}
            </div>
        </li>
        <li id="tab2">
            <h2><a href="#">Search by age</a></h2>
            <div id="ageSearch">
                <p>Now don&rsquo;t be offended, but tell us your age and we&rsquo;ll find some stuff we know you&rsquo;ll love!</p>
                {# age based search partial #}
            </div>
        </li>
    </ul>    
</div>
<div id="news" class="fl half-width right">
    <h2>Latest news</h2>
    <ul>
        <li>
            <span class="note">30/07/2012</span>
            <p>News item details goes here for all to see. News item details goes here for all to see.</p>
        </li>
        <li>
            <span class="note">30/07/2012</span>
            <p>News item details goes here for all to see.</p>
        </li>
        <li>
            <span class="note">30/07/2012</span>
            <p>News item details goes here for all to see.</p>
        </li>
        <li>
            <span class="note">30/07/2012</span>
            <p>News item details goes here for all to see.</p>
        </li>
    </ul>
</div>

{% endblock %}
{% block javascripts %} 
{{ parent() }}
{# <script src="{{ asset('bundles/SkNd/scripts/main.js') }}" type="text/javascript"></script>#}
{% endblock %}