{% extends '::base.html.twig' %}
{% block title %}Helps you find stuff you loved{% endblock %}
{% block content %}
<h1>Helps you find stuff you loved</h1>
<div id="introPanel" class="cf">
    <ul>
        <li class="third-width left cf">
            <img src="{{ asset('bundles/SkNd/images/rediscoverIt.jpg') }}" alt="rediscover it with noodleDig" />
            <h2>Discover it</h2>
            <p>Find all those ace Films and TV episodes you thought you&rsquo;d forgotten.</p>
        </li>
        <li class="third-width centre cf">
            <img src="{{ asset('bundles/SkNd/images/grabIt.jpg') }}" alt="grab it with noodleDig" />
            <h2>Grab it</h2>
            <p>Once you&rsquo;ve found some cool stuff, stick it on your <a href="{{path('memoryWallsIndex')}}" title="whats a memory wall?">memory wall</a>.</p>
        </li>
        <li class="third-width right cf">
            <img src="{{ asset('bundles/SkNd/images/shareIt.jpg') }}" alt="share it with noodleDig" />
            <h2>Share it</h2>
            <p>With noodleDig, its easy to show your pals what you&rsquo;ve found.</p>
        </li>
    </ul>
</div>

{# media selection partial #}
<div id="contentSearches" class="fl cf">
    <ul>
        <li id="tab1" class="selected">
            <h2>Find it now</h2>
            <div id="mediaSelection">
                <p>Just choose the options you want from below, and away you go.</p>
                {{ render(controller('SkNdMediaBundle:Media:mediaSelection')) }}
            </div>
        </li>
        {#<li id="tab2">
            <h2><a href="#">Search by age</a></h2>
            <div id="ageSearch">
                <p>Now don&rsquo;t be offended, but tell us your age and we&rsquo;ll find some stuff we know you&rsquo;ll love!</p>
                
            </div>
        </li>#}
    </ul>    
</div>
<div id="news" class="fr half-width right">
    <h2>Latest news</h2>
    <ul>
	 <li>
            <span class="note">05/07/2013</span>
            <p>Yay, another patch has been released. This fixes some issues with how we save information, how stuff is categorised and how good the site looks on mobile devices. Give it a go on yer mobile and <a href="http://www.facebook.com/noodledig">let us know what you think on facebook</a> </p>
        </li>
        <li>
            <span class="note">12/06/2013</span>
            <p>Just while we get the updates put up on the site, there may be some slight loss of info, so sorry about that. Its all for a good cause though, honest.</p>
        </li>
        <li>
            <span class="note">30/05/2013</span>
            <p>We&rsquo;ve done some new stuff! Most of it, you won&rsquo;t even notice, but be assured, it is there. There&rsquo;s been some improvements to the way things look, and how we can make sure that nothing nasty gets on the site.</p>
        </li>
    </ul>
</div>

{% endblock %}
