{% block smDetails %}
{% set smShareUrl = (app.request.uri)|url_encode() %}

{% set smShareText = 'noodleDig helps you remember things you loved.'|url_encode() %}
{% set smHashTags = 'nostalgia,reminisce,noodleDig'|url_encode() %}

<ul id="sm-sharing-menu">
    <li>
        <a href="#" title="Share this page" id="sm-sharing-popup" class="button"><span class="sprites share-icon">&nbsp;</span>Share this</a>
        <div id="sm-sharing">
            <ul>
                <li>
                    <a class="popup sprites fb-share-icon" title="Share this page on Facebook" href="http://www.facebook.com/share.php?u={{smShareUrl}}&amp;t={{smShareText}}" target="_blank"><span>Share on Facebook</span></a>
                </li>
                <li>
                    <a class="popup sprites t-share-icon" data-lang="en" title="Share this page on Twitter" href="https://twitter.com/share?url={{smShareUrl}}&amp;text={{smShareText}}&amp;hashtags={{smHashTags}}" target="_blank" ><span>Share on Twitter</span></a>

                </li>
                <li>
                    <a class="sprites p-share-icon" title="Pin this page with Pinterest" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());"><span>Share on Pinterest</span></a>
                </li>
                <li>
                    <a class="sprites email-share-icon" title="Email this page to a friend" href="mailto:?subject=Check out noodleDig&amp;body=Check out this cool site called www.noodleDig.com. It helps you to re-discover things from the past. Here's the link: {{ smShareUrl }}"><span>Share with email</span></a>
                </li>
            </ul>
        </div>
    </li>
</ul>
{% endblock %}