{% if mainResponse is defined %}
{% set dataItem = mainResponse.Items.Item %}

{#% debug dataItem %#}
<div class="itemOverview">
    {#<dt><h2>{{title}}</h2></dt>#}
    <img src="{{dataItem.MediumImage.URL}}" alt="{{dataItem.ItemAttributes.Title}}" width="{{dataItem.MediumImage.Width}}" height="{{dataItem.MediumImage.Height}}" />
    <ul class="links">
        <li><a target="_blank" href="{{dataItem.DetailPageURL}}">Buy from Amazon {% if dataItem.ItemAttributes.ListPrice is defined %}for {{ dataItem.ItemAttributes.ListPrice.FormattedPrice }}{% endif %}</a></li>
        <li><a href="#" title="add this to your memory wall">Add to your memory wall</a></li>
    </ul>

    {% if dataItem.SimilarProducts is defined %}
    <div>
        <h2>Similar Items</h2>
        <ul>
        {% for similarItem in dataItem.SimilarProducts.SimilarProduct %}
                <li><a title="see more details for {{similarItem.Title}}" href="{{path('mediaDetails', {'id':similarItem.ASIN, 'title':similarItem.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    {#<div>
        <h3>Related Items</h3>
        <ul>
        {% for relatedItem in dataItem.RelatedItems.RelatedItem %}
                <li><a title="see more details for {{relatedItem.Item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'id':relatedItem.Item.ASIN, 'title':relatedItem.Item.ItemAttributes.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a></li>
        {% endfor %}
        </ul>
    </div>#}

</div>

<div id="youtube-topresults">
    <h2>Top YouTube Videos</h2>
    {% render "ThinkBackMediaBundle:Media:youTubeRequest" with {'title':dataItem.ItemAttributes.Title, 'media':media, 'decade':decade, 'genre':genre} %}
</div>

{% else %}
<h2>Sorry&hellip;</h2>
<p>{{exception}}</p>
{% endif %}