{% if mainResponse is defined %}
{% set item = mainResponse.Items.Item %}

{#% debug item %#}
<div class="itemOverview">
    {#<dt><h2>{{title}}</h2></dt>#}
    <img src="{{item.MediumImage.URL}}" alt="{{item.ItemAttributes.Title}}" width="{{item.MediumImage.Width}}" height="{{item.MediumImage.Height}}" />
    <ul class="links">
        <li><a target="_blank" href="{{item.DetailPageURL}}">Buy from Amazon {% if item.ItemAttributes.ListPrice is defined %}for {{ item.ItemAttributes.ListPrice.FormattedPrice }}{% endif %}</a></li>
        <li><a href="#" title="add this to your memory wall">Add to your memory wall</a></li>
    </ul>

    {% if item.SimilarProducts is defined %}
    <div>
        <h2>Similar Items</h2>
        <ul>
        {% for similarItem in item.SimilarProducts.SimilarProduct %}
                <li>
                    {#<a title="see more details for {{similarItem.Title}}" href="{{path('mediaDetails', {'id':similarItem.ASIN, 'title':similarItem.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a>#}
                    <a title="see more details for {{similarItem.Title}}" href="{{path('mediaDetails', {'media':media, 'decade':decade, 'genre':genre, 'id':similarItem.ASIN })}}">{{similarItem.Title}}</a>
                </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    {#<div>
        <h3>Related Items</h3>
        <ul>
        {% for relatedItem in item.RelatedItems.RelatedItem %}
                <li><a title="see more details for {{relatedItem.Item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'id':relatedItem.Item.ASIN, 'title':relatedItem.Item.ItemAttributes.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a></li>
        {% endfor %}
        </ul>
    </div>#}

</div>

<div id="youtube-topresults">
    <h2>Top YouTube Videos</h2>
{% 
    render "ThinkBackMediaBundle:Media:youTubeRequest" with {
        'title'     :   item.ItemAttributes.Title|url_encode, 
        'media'     :   media,
        'decade'    :   decade,
        'genre'     :   genre
    } 
%}
</div>

{% else %}
<h2>Sorry&hellip;</h2>
<p>{{exception}}</p>
{% endif %}