{% if exception is null %}
<div class="pagingControls">
{% include "ThinkBackMediaBundle:Media:pageListings.html.twig" 
with 
{
'currentPage':data.Items.Request.ItemSearchRequest.ItemPage,
'totalPages':data.Items.TotalPages,
'totalResults':data.Items.TotalResults,
'pagerParams':pagerParams
} 
%}
</div>    

<ul>
{% for dataItem in data.Items.Item %}
<li class="listing">
    <dl>
        <dt><a title="see more details for {{dataItem.ItemAttributes.Title}}" href="{#{path('mediaDetails', {'api':'amazon','ASIN':dataItem.ASIN, 'title':dataItem.ItemAttributes.Title})}#}">{{dataItem.ItemAttributes.Title}}</a></dt>
        <dd>
            <img src="{{dataItem.MediumImage.URL}}" alt="{{dataItem.ItemAttributes.Title}}" width="{{dataItem.MediumImage.Width}}" height="{{dataItem.MediumImage.Height}}" />
            <ul>
                <li><a target="_blank" href="{{dataItem.DetailPageURL}}">Buy from Amazon</a></li>
                <li><span>Release Date: {{dataItem.ItemAttributes.ReleaseDate}}</span></li>
                <li><a href="#" title="add this to your memory wall">Add to your memory wall</a></li>
            </ul>
        </dd>
    </dl>
</li>
{% endfor %}
</ul>
{% else %}
<h2>Sorry...</h2>
<p>{{exception}}</p>
{% endif %}