{% if exception is null %}
{% set dataItem = data.Items.Item %}

<div class="itemOverview">
    {#<dt><h2>{{title}}</h2></dt>#}
    <img src="{{dataItem.MediumImage.URL}}" alt="{{dataItem.ItemAttributes.Title}}" width="{{dataItem.MediumImage.Width}}" height="{{dataItem.MediumImage.Height}}" />
    <ul class="links">
        <li><a target="_blank" href="{{dataItem.DetailPageURL}}">Buy from Amazon for {{ dataItem.ItemAttributes.ListPrice.FormattedPrice }}</a></li>
        <li><a href="#" title="add this to your memory wall">Add to your memory wall</a></li>
    </ul>

    <div>
        <h2>Similar Items</h2>
        <ul>
        {% for similarItem in dataItem.SimilarProducts.SimilarProduct %}
                <li><a title="see more details for {{similarItem.Title}}" href="{{path('mediaDetails', {'id':similarItem.ASIN, 'title':similarItem.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a></li>
        {% endfor %}
        </ul>
    </div>
    
    {#<div>
        <h3>Related Items</h3>
        <ul>
        {% for relatedItem in dataItem.RelatedItems.RelatedItem %}
                <li><a title="see more details for {{relatedItem.Item.ItemAttributes.Title}}" href="{{path('mediaDetails', {'id':relatedItem.Item.ASIN, 'title':relatedItem.Item.ItemAttributes.Title|url_encode, 'media':media})}}">{{similarItem.Title}}</a></li>
        {% endfor %}
        </ul>
    </div>#}

</div>

<div id="youtube-topresults">
    <h2>Top YouTube Videos</h2>
{% if youTubeResponse is defined %}
    <div id="ytapiplayerContainer">
        <div id="ytapiplayer">
            <p>You need Flash player 8+ and JavaScript enabled to view this video.</p>
        </div>
        <script type="text/javascript">
        function onYouTubePlayerReady(playerId) {
            ytplayer = document.getElementById("myytplayer");
        }
        function play(videoId) {
            if (ytplayer) 
                ytplayer.loadVideoById(videoId);
        }

        var params = { allowScriptAccess: "always" };
        var atts = { id: "myytplayer" };
    </script>
    </div>
    
    <script type="text/javascript">
        swfobject.embedSWF("http://www.youtube.com/e/{{youTubeResponse.feed.entry.id}}?enablejsapi=1&playerapiid=ytplayer",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);
    </script>
    <strong>{{ youTubeResponse.url }}</strong>
    <dl>
    {% for ytResult in youTubeResponse.feed.entry %}
        <dt><a href="javascript:void(0)" onclick="play({{ytResult.id}})">{{ ytResult.title|escape }}</a></dt>
        <dd>    
            <a href="javascript:void(0)" onclick="play({{ytResult.id}})"><img src="{{ ytResult.thumbnail }}" alt="{{ ytResult.title|escape }}" /></a>
            {#used for debugging a variable#}
            {#%  debug ytResult %#}              
        </dd>
    {% endfor %}
    </dl>
    
       
{% else %} 
    <p>Sorry, there were no results found by YouTube</p>
{% endif %}        
</div>

{% else %}
<h2>Sorry&hellip;</h2>
<p>{{exception}}</p>
{% endif %}