{% if exception is null %}
<p>Number of results: {{data.Items.TotalResults}} </p>
<p>Page {{ data.Items.Request.ItemSearchRequest.ItemPage }} of {{data.Items.TotalPages}}</p>

<ul>
{% for dataItem in data.Items.Item %}
<li class="listing">
    <dl>
        <dt><a href="{{dataItem.DetailPageURL}}">{{dataItem.ItemAttributes.Title}}</a></dt>
        <dd>
            <img src="{{dataItem.MediumImage.URL}}" alt="{{dataItem.ItemAttributes.Title}}" width="{{dataItem.MediumImage.Width}}" height="{{dataItem.MediumImage.Height}}" />
            <span>Release Date: {{dataItem.ItemAttributes.ReleaseDate}}</span>
        </dd>
    </dl>
</li>
{% endfor %}
</ul>
{% else %}
<h2>Sorry...</h2>
<p>{{exception}}</p>
{% endif %}