<form action="{{ path('mediaSelection') }}" method="post" {{ form_enctype(form) }}>

    <div class="errors">
        {{ form_errors(form) }}
    </div>
    
    <div id="mediaSelectionDecades">
        {{ form_row(form.decades) }}
    </div>
    <div id="mediaSelectionGenres">
        {{ form_row(form.genres) }}
    </div>

    {{ form_rest(form) }}
    
<input type="submit" value="Find" />
    
</form>


