<p>Number of results: {{mainResponse.taggedResults.totalItems}} </p>

<ul>
{% for item in mainResponse.taggedResults.taggedItem %}
<li class="listing">
    <dl>
        <dt><a href="{{item.release.url}}">{{item.release.title}}</a></dt>
        <dd>
            <img src="{{item.release.image}}" alt="{{item.release.title}}" />
            <span>artist: {{item.release.artist.name}}</span>
        </dd>
    </dl>
</li>
{% endfor %}
</ul>