{% if youTubeResponse is defined %}
    <div id="ytapiplayerContainer">
        <div id="ytapiplayer">
            <p>You need Flash player 8+ and JavaScript enabled to view this video.</p>
        </div>
        <script type="text/javascript">
        function onYouTubePlayerReady(playerId) {
            ytplayer = document.getElementById("myytplayer");
        }
        function play(videoId) {
            if (ytplayer) 
                ytplayer.loadVideoById(videoId);
        }

        var params = { allowScriptAccess: "always" };
        var atts = { id: "myytplayer" };
    </script>
    </div>
    
    <script type="text/javascript">
        swfobject.embedSWF("http://www.youtube.com/e/{{youTubeResponse.feed.entry.id}}?enablejsapi=1&playerapiid=ytplayer",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);
    </script>
    <strong>{{ youTubeResponse.url }}</strong>
    <dl>
    {% for ytResult in youTubeResponse.feed.entry %}
        <dt><a href="javascript:void(0)" onclick="play('{{ytResult.id}}')">{{ ytResult.title|escape }}</a></dt>
        <dd>    
            <a href="javascript:void(0)" onclick="play('{{ytResult.id}}')"><img src="{{ ytResult.thumbnail }}" alt="{{ ytResult.title|escape }}" /></a>
            {#used for debugging a variable#}
            {#%  debug ytResult %#}              
        </dd>
        <dd><a href="#" title="add {{ytResult.title|escape}} to your memory wall">Add {{ytResult.title|escape}} to your memory wall</a></dd>
    {% endfor %}
    </dl>
    
       
{% else %} 
    <h3>Sorry&hellip;</h3>
    <p>{{youTubeException}}</p>
    
{% endif %}        