<form id="edit-ugc-form" class="ugc-ajax-form small" action="{{ path('memoryWallEditUGC',{'mwid':mwid, 'slug':slug, type: 'ugc', 'id': id }) }}" {{ form_enctype(form) }} method="POST">
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.comments) }}
        {{ form_row(form.image) }}
        {% if mwc.imagePath is not empty %}
            <img src="{{ mwc.thumbnailWebPath }}" alt="{{ mwc.title }}" />
            {{ form_row(form.removeImage) }}
        {% endif %}
    
    {#{ form_widget(form) }#}
    <div class="controls">
        <input type="submit" value="{{ 'memoryWall.ugc.edit.submit'|trans({}, 'SkNdUserBundle') }}" />
        <a class="cancel" href="{{ path('memoryWallShow', { 'id': mwid, 'slug': slug }) }}">Cancel</a>
    </div>
    <div class="ugc-progress">
        <div class="progress-bar"></div>
    </div>
{{ form_end(form) }}
