<li class="mwc">
    <p class="note">Added on {{ mwc.dateCreated|date("d/m/y \\a\\t g:ia") }}</p>    
    <h3>{{ mwc.title }}</h3>
    {% if mwc.comments is not empty %}
    <p>{{ mwc.comments }}</p>
    {% endif %}
    {% if mwc.imagePath is not empty %}
        <a href="{{ mwc.webPath }}" class="lightbox"><img src="{{ mwc.thumbnailWebPath }}" alt="{{ mwc.title }}" /></a>
    {% endif %}
    <ul class="actions fl">
        {% if wallBelongsToThisUser %}
        <li><a class="button" href="{{ path('memoryWallDeleteMediaResource', {'mwid':mwc.memoryWall.id, 'slug': mwc.memoryWall.slug, 'id': mwc.id }) }}" title="Remove {{ mwc.title }} from this wall"><span class="sprites close-icon">Remove</span></a></li>
        {% endif %}
    </ul>
</li>
