{% import 'SkNdUserBundle:MemoryWallContent:mwcMacros.html.twig' as mwcMacros %}

{% set mr = mwc.mediaResource %}
<li class="mwc">
    <ul class="actions fl">
        {% include "SkNdUserBundle:MemoryWallContent:addToMemoryWallListPartial.html.twig" 
            with {
                'api'       : mr.api.name,
                'itemId'    : mr.id,
                'itemTitle' : mr.mediaResourceCache.title,
                'titleSlug' : mr.urlize(mr.mediaResourceCache.title),
                'linkType'  : 'button'
            } 
        %}

        {% if wallBelongsToCurrentUser %}
        <li><a class="button" href="{{ path('memoryWallDeleteContent', {'mwid':mwc.memoryWall.id, 'slug': mwc.memoryWall.slug, type: 'mr', id: mr.id }) }}" title="Remove {{ mr.mediaResourceCache.title }} from this wall"><span class="sprites delete-icon">Remove</span></a></li>
        {% endif %}
    </ul>
    <p class="note">Added on {{ mwc.dateCreated|date("d/m/y \\a\\t g:ia") }}</p>    
    {% if mr.mediaResourceCache.imageUrl != 'na' %}
    <a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}')">
        <img src="{{mr.mediaResourceCache.imageUrl}}" alt="{{mr.mediaResourceCache.title}}" />
    </a>
    {% endif %}
    <strong><a href="javascript:void(0)" title="click to play {{mr.mediaResourceCache.title}}" onclick="play('{{mr.id}}','{{mr.mediaResourceCache.title|escape('js')}}');">{{ mwcMacros.shortenTitle(mr.mediaResourceCache.title) }}</a></strong>
    
    
</li>