{% extends 'SkNdUserBundle::layout.html.twig' %}
{% block title %}All signed up{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
        
{% block fos_user_content %}
<h1>You&rsquo;re all signed up</h1>
<div class="half-width fl">
    <p class="strapline">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    <p>{{ 'registration.memoryWallReminder'|trans({}, 'SkNdUserBundle')|raw }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.target_path') %}
        {% if targetUrl is not empty %}<a class="button" href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a>{% endif %}
    {% endif %}
    <a class="button" href="{{path('index')}}">Start noodleDigging now</a>
</div>
{% endblock fos_user_content %}
       