{% form_theme form theme %}
    
<h1>Sign up</h1>
<p class="strapline">Why should I do that? Here&rsquo;s 3 good reasons&hellip;</p>
<ul>
    <li>You&rsquo;ll get more personalised recommendations when using noodleDig, allowing you find more relevant stuff.</li>
    <li>You&rsquo;ll get to create your very own personalised &lsquo;memory walls&rsquo; and then add all manner of cool stuff to them.</li>
    <li>You&rsquo;ll be able to get involved with the vibrant online community that devoutly follows noodleDig.</li>
</ul>
<p>So, go on, sign up &ndash; its really very simple.</p>
<div class="fl half-width">
    <h2>Regular sign up</h2>
    <p>Use the form below to sign up to noodleDig in the usual way.</p>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

{{ form_widget(form) }}
        
    {#{ form_row(form.firstname) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.dateofbirth) }}
    {{ form_rest(form) }#}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
</div>

<div class="fl half-width">
    <h2>Facebook sign up</h2>
    <p>Alternatively, you can sign up for noodleDig using your Facebook account, saving you the hassle of filling out yet another form and remembering more passwords!</p>
        
</div>
